/* 在外部 CSS 文件中导入 Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: "Trebuchet MS",Optima, Lato, Arial,  Candara, Calibri, sans-serif;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
